.img-container{
    position: relative;
    top: 6rem;
    width: 100%;
  }

  .img-container img{
    width: 100%;
    height: auto;
  }
  
  .text-container{
    position: relative;
    top: 6rem;
    overflow-wrap: break-word;
  }
  
  .text-container a{
    color: #ffffff;
  }