.text-container{
  position: relative;
  top: 10rem;
  font-size: 3rem;
}

.info-container{
  position: relative;
  top: 10rem;
}

.image-container{
  position: relative;
  bottom: 10rem;
  width: 100%;
}

.image-container img{
  width: 100%;
  height: auto;
}