
  .text-container{
    position:absolute;
    bottom: 20%;
    left: 50%;
    width: 40%;
    font-size: 1.5em;
    overflow-wrap: break-word;
  }
  
  .text-container a{
    color: #ffffff;
  }


.contact-text
{
  position: relative;
  bottom: 5vh;
}

.image-container{
  position: absolute;
  left: 10%;
}

#contact-container{
  position: absolute;
  left: 50%;
  bottom: 35%;
}

.header-text{
  font-size: 2em;
}