.title-container
{
  position: relative;
  top: 20rem;
  width: auto;
}


@media (min-width: 550px)
{
  .title-container
{
  position: relative;
  top: 30rem;
  width: 100%;
}



}


@media (min-width: 1000px)
{
  .title-container
{
  position: relative;
  top: 30rem;
  width: 100%;
}


}


@media (min-width: 1400px)
{
  .title-container
{
  position: relative;
  top: 30rem;
  font-size: 10rem;
  width: auto;
}


}


.title{
  font-size: 2.5rem;
}


.typed-cursor{
  font-size: 2.5rem;
}


@media (min-width: 550px){
.title{
font-size: 5rem;
}
.typed-cursor{
  font-size: 5rem;
}
}


@media (min-width: 1000px){
.title{
font-size: 7rem;
}
.typed-cursor{
  font-size: 7rem;
}
}


@media (min-width: 1400px){
.title{
font-size: 10rem;
}
.typed-cursor{
  font-size: 10rem;
}
}