body{
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    background-color: #393f4d;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  body a{
    text-decoration: none;
    color: #fff;
  }

  .nav-bar-title{
    position: relative;
    
    top: 5rem;
  }
  .nav-bar-title h3{
    font-size: 4rem;
  }
  
  .nav-bar-title a{
    text-decoration: none;
    color: white;
    z-index: 1000;
  }
  
  .nav-bar-title a:hover{
    text-decoration: none;
    color: #feda6a;
    z-index: 1000;
  }

  .nav-bar-links
  {
    position: relative;
    top: 10rem;
  }

  .ext_link
  {
    margin: 2rem;
  }

  .nav-bar-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 2rem;
    position: relative;
    top: 7rem;
  }

  .nav-bar-navigation a:hover{
    text-decoration: underline;
    color: #feda6a;
  }
  

@media (min-width: 550px)
{
  .nav-bar-title{
    position: relative;
    right: 6rem;
    top: 4rem;
  }

  
  .nav-bar-navigation{
    position: relative;
    top: 6rem;
  }
  
  .nav-bar-links
  {
    position: relative;
    top: 6rem;
    left: 3rem;
  }

}


@media (min-width: 750px)
{
  .nav-bar-title{
    position: relative;
    right: 10rem;
    top: 4rem;
  }

  
  .nav-bar-navigation{
    position: relative;
    top: 6rem;
  }

  .nav-bar-links
  {
    position: relative;
    top: 6rem;
    left: 10rem;
  }

}


@media (min-width: 1000px)
{
  .nav-bar-title{
    position: relative;
    right: 20rem;
    top: 4rem;
  }

  
  .nav-bar-navigation{
    position: relative;
    top: 6rem;
  }
  
  .nav-bar-links
  {
    position: relative;
    top: 6rem;
    left: 15rem;
  }

}



@media (min-width: 1400px)
{
  .nav-bar-title{
    position: relative;
    right: 30rem;
    top: 4rem;
  }

  .nav-bar-navigation{
    position: relative;
    top: 6rem;
  }

  
  .nav-bar-links
  {
    position: relative;
    top: 6rem;
    left: 25rem;
  }

}
