html, body {
    height: 100%;
    background-color: #ceca5a;
    margin: 0px;
    padding: 0px;
    color: #fff;
    font-family: 'Neucha', cursive;
    font-size: 2em;
}

a{
    text-decoration:underline;
    color: #fff;
}

a:hover{
    color: #a777e3;
}

.redirect-msg{
    position:relative;
    top: 10vh;
}


