.lang-container{
    position: absolute;
    top: 20%;
    left: 2%;
    font-size: 1.14em;
    width: 50%;
}


.lang-header
{
    font-size: 1.5em;
}


.skill-bar
{
    display: inline-block;
    position: absolute;
    left: 1vw;
    color: red;
    background-color: #fff;
    height: 1vh;
    width: 20%;
    border-radius: 20px;
}


.to-anim
{
    border-radius: 20px;
    width: 0%;
    height: 100%;
    background-color: #feda6a;
}

#skill-bar-cpp
{
    position: absolute;
    left: 11.4%;
    top: 32%;
}

#skill-bar-python
{
    position: absolute;
    left: 11.4%;
    top: 43%;
}

#skill-bar-c
{
    position: absolute;
    left: 11.4%;
    top: 55%;
}

#skill-bar-js
{
    position: absolute;
    left: 11.4%;
    top: 67%;
}

#skill-bar-java
{
    position: absolute;
    left: 11.4%;
    top: 80%;
}

#skill-bar-mysql
{
    position: absolute;
    left: 11.4%;
    top: 92%;
}

.misc-container
{
    position: absolute;
    top: 45%;
    left: 2%;
    width: 50%;
    font-size: 1.14em;
}

#skill-bar-flask
{
    position: absolute;
    left: 11.4%;
    top: 32%;
}

#skill-bar-opengl
{
    position: absolute;
    left: 11.4%;
    top: 43%;
}

#skill-bar-tensorflow
{
    position: absolute;
    left: 11.4%;
    top: 55%;
}

#skill-bar-numpy
{
    position: absolute;
    left: 11.4%;
    top: 67%;
}

#skill-bar-pandas
{
    position: absolute;
    left: 11.4%;
    top: 80%;
}

#skill-bar-vue
{
    position: absolute;
    left: 11.4%;
    top: 92%;
}

.other-container{
    position: absolute;
    top: 70%;
    left: 2vw;
}

.current-container{
    position: absolute;
    bottom: 60%;
    left: 35%;
}


.current-container a{
    color: #ffffff;
}

.read-container{
    position: absolute;
    bottom: 30%;
    left: 35%;
}

.project-container{
    position: absolute;
    bottom: 75%;
    left: 75%;
}

.project-container a{
    color: #ffffff;
}