{% extends "layout.html" %}

{% block head %}

<link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet">

{% endblock head %}
{% block body %}



<div class="about-container">
    <div class="img-container">
        <img src="{{ url_for('static', filename='img/student.svg') }}">
    </div>
    <div class="text-container">
        <span class="about-text">
                Hi, my name is Rishabh. <br />
                I'm currently a senior at UMass Amherst, majoring in Computer Engineering with a Minor in Economics.  <br /> <br />
                My interests lie in game engine architecture as well artificial neural networks, although lately I've been working with recurrent neural networks and LSTMs. <br />
                Currently I'm working in the BINDS Laboratory, working with LSTMs and GRUs to train recurrent nets to re-create pitch accurate renditions of Bach cantatas.<br /> <br />
                Strong analytical and math skills, with a proven <span class="github-link"><a href="/skills">repository</a></span> in objected-oriented design. <br />
                I'm fascinated by large-scale applications, and the scalability of their architecture. <br /> <br />
                I'm a Tolkien buff, and you will probably find me re-reading his works, among others. 
        </span>
    </div>
</div>



{% endblock body %}