{% extends "layout.html" %}
{% block body %}

<div class="image-container">
    <span class="contact-image">
        <img src=" {{ url_for('static', filename='img/paper-plane.svg') }} ">
    </span>
</div>
<div class="text-container">
    <span class="contact-text">
        <span class="header-text">Get in touch!</span> <br /><br />
        You can email me at: rdpsinghvi@gmail.com <br /> <br />
        Or, alternatively, through <span class="link-span"><a  href="https://www.linkedin.com/in/rishabhsinghvi2" target="_blank">Linkedin</a></span>.
        <br /><br />
        You can also find me on <span class="link-span"><a  href="https://www.twitter.com/_lieability_" target="_blank">Twitter</a></span>.
    </span>
</div>

{% endblock body %}