{% extends "layout.html" %}

{% block head %}

<link href="{{ url_for('static', filename='css/contact.css') }}" rel="stylesheet">

{% endblock head %}

{% block body %}

<div class="container">
<div class="text-container row" id ="contact-container">
    <div class="twelve columns">
        <center>
        <span class="header-text">Get in touch!</span> <br /><br />
    </center>
    </div>
</div>
<div class="info-container row">
    <div class="six columns">
        <p>You can email me at: rdpsinghvi@gmail.com <br />
        Or, alternatively, through <span class="link-span"><a  href="https://www.linkedin.com/in/rishabhsinghvi2" target="_blank">Linkedin</a></span>.
        <br />
        You can also find me on <span class="link-span"><a  href="https://www.twitter.com/_lieability_" target="_blank">Twitter</a></span>.
        </p>
    </div>
    
    <div class="image-container six columns">
        <span class="contact-image">
            <img src=" {{ url_for('static', filename='img/paper-plane.svg') }} ">
        </span>
    </div>



</div>
</div>
{% endblock body %}