{% extends "layout.html" %}
{% block body %}

<center>
<h1 class="text-intro">
        <span class="text-wrapper">
        <span class="letters">Hi, I'm Rishabh</span>
        </span>
</h1>
<div class="link-container">
        <span class="ext_link">
        <a href="https://www.github.com/rishabhsinghvi" target="_blank">
            <img src="{{ url_for('static', filename='img/logos/github-logo.svg') }}" title="Github">
        </a>
        </span>
        <span class="ext_link">
        <a  href="https://www.linkedin.com/in/rishabhsinghvi2" target="_blank">
            <img src="{{ url_for('static', filename='img/logos/linkedin-logo.svg') }}" title="LinkedIn">
        </a>
        </span>
        <span class="ext_link">
        <a  href="https://www.twitter.com/_lieability_" target="_blank">
            <img src="{{ url_for('static', filename='img/logos/twitter-logo.svg') }}" title="Twitter">
        </a>
        </span>
    </div>

<div class="scrolldown-container">
    <span class="scrolldown">
        <img id="scrolldown-svg" src = "{{ url_for('static', filename='img/logos/scrolldown.svg') }}">
    </span>
</div>


</center>


{% endblock body %}