{% extends "layout.html" %}


{% block head %}


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>

        
<script>
    function resizeCanvas()
    {
        var c = document.getElementById('draw-canvas');
        c.width = window.innerWidth / 2;
        c.height = window.innerHeight / 2;
    }

    document.addEventListener('DOMContentLoaded', function(event){
        var options = {
        strings: ['Hi, I\'m <br /> Rishabh.'],
        typeSpeed: 60,
        loop: false,
        onComplete: (self) => {
            //self.cursor.remove()
        }
        };

    var typed = new Typed(".title-container .title", options);
    
    }); 
    
</script>

<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">

{% endblock head %}


{% block body %}



<div class="title-container">
    <span class="title"></span>
</div>

<canvas class="draw-canvas" id="draw-canvas" onload="resizeCanvas()">
    <a href="/about">About Me</a>
    <a href="/skills">Skills</a>
    <a href="/contact">Get In Touch!</a>
</canvas>

<script src = "{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock body %}