<!DOCTYPE html>
<html lang="en">
<head>
    

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141896761-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-141896761-1');
    </script>

    <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon16.png') }}" sizes="16x16">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon32.png') }}" sizes="32x32">

    <title>Rishabh Singhvi</title>

    <meta charset="utf-8">
    <meta name="author" content="Rishabh Singhvi: https://github.com/rishabhsinghvi   https://www.linkedin.com/in/rishabhsinghvi2">
    <meta name="keywords" content="personal website, Rishabh, Singhvi, Rishabh Singhvi">
    <meta name="description" content="My personal website. Source code available on Github">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/skeleton.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/layout.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond|Raleway&display=swap" rel="stylesheet">

    {% block head %}
    {% endblock head %}
    

</head>

<body>
    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="four columns nav-bar-title">
                    <center>
                    <a href="/">
                        <h3>rishabh.</h3>
                    </a>
                    </center>
                </div>

                <div class="four columns nav-bar-navigation">
                    <span class="nav-link about-link">
                        <center>
                        <a href="/about"><p>about</p></a>
                    </center>
                </span>

                    <span class="nav-link skills-link">
                        <center>
                        <a href="/skills"><p>skills</p></a>
                    </center>
                </span>
                    
                    <span class="nav-link contact-link">
                        <center>
                        <a href="/contact"><p>contact</p></a>
                    </center>
                </span>

                </div>

                <div class="four columns nav-bar-links">
                <center>
                    <span class="ext_link">
                        <a href="https://www.github.com/rishabhsinghvi" target="_blank">
                            <img src="{{ url_for('static', filename='img/logos/github-logo.svg') }}" onmouseover="this.src='{{ url_for('static', filename = 'img/logos/github-logo-hover.svg') }}';" onmouseout="this.src='{{ url_for('static', filename = 'img/logos/github-logo.svg') }}';"   title="Github">
                        </a>
                    </span>
                

                    <span class="ext_link">
                        <a  href="https://www.linkedin.com/in/rishabhsinghvi2" target="_blank">
                            <img src="{{ url_for('static', filename='img/logos/linkedin-logo.svg') }}" onmouseover="this.src='{{ url_for('static', filename = 'img/logos/linkedin-logo-hover.svg') }}';" onmouseout="this.src='{{ url_for('static', filename = 'img/logos/linkedin-logo.svg') }}';" title="LinkedIn">
                        </a>
                    </span>
                

                
                    <span class="ext_link">
                        <a  href="https://www.twitter.com/_lieability_" target="_blank">
                            <img src="{{ url_for('static', filename='img/logos/twitter-logo.svg') }}" onmouseover="this.src='{{ url_for('static', filename = 'img/logos/twitter-logo-hover.svg') }}';" onmouseout="this.src='{{ url_for('static', filename = 'img/logos/twitter-logo.svg') }}';" title="Twitter">
                        </a>
                    </span>

                </center>
                </div>


            </div>
        </div>
    </div>
    


    {% block body %}{% endblock body %}
</body>
</head>