<!DOCTYPE html>
<html lang="en">
    
    <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon16.png') }}" sizes="16x16">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon/favicon32.png') }}" sizes="32x32">

    <title>Rishabh Singhvi</title>

    <meta charset="utf-8">
    <meta name="author" content="Rishabh Singhvi: https://github.com/rishabhsinghvi   https://www.linkedin.com/in/rishabhsinghvi2">
    <meta name="keywords" content="personal website, Rishabh, Singhvi, Rishabh Singhvi">
    <meta name="description" content="My personal website. Source code available on Github">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Neucha|Open+Sans+Condensed:300|Special+Elite&display=swap" rel="stylesheet">

    <link href="{{css}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/lib/aos.css')}}" rel="stylesheet">
    
    <script src="{{url_for('static', filename='js/lib/aos.js')}}"></script>

    

</html>

<!-- Layout isn't strictly necessary, but good idea if I ever want to extend this application in the future -->
<body>
    {% block body %}{% endblock body %}

    <script src="{{url_for('static', filename='js/lib/jquery-3.4.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/lib/anime.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/lib/parsley.min.js')}}"></script>
    <script src="{{jsfile}}"></script>
    
    <script>
            AOS.init();
            function scrollTo(position) {
                $('body').animate({scrollTop: position}, 500);
            }
    </script>
    
</body>